<?xml version="1.0" encoding="utf-8"?>
<PitDefines>
	<All>
		<Ipv4 key="TargetIPv4"
			  value="10.90.126.84"
			  name="Target IPv4 Address"
			  description="The IPv4 address of the target machine or device. The IPv4 address can be found on Windows by running 'ipconfig' and looking for the 'IPv4 Address' field. For Linux run 'ifconfig' and look for 'inet addr' field. For OS X run 'ifconfig' and look for the 'inet' field." />

		<Range key="TargetPort"
			   value="31943"
			   min="0"
			   max="65535"
			   name="Target Port"
			   description="The target or destination port the network packet is sent to."/>
        <Ipv4 key="MonitorIP"
          value="127.0.0.1"
          name="logmonitor ip addr"
          description="The IPv4 address of the machine or device which log_monitor is running inside."/>
        <String key="no_fuzz_string"
				value=" "
				name="body not fuzz string"
				description="body not fuzz string" />
		<Range  key="Timeout"
				value="3000"
				min="0" max="10000000"
				name="Timeout"
				description="How long to wait in milliseconds for data"/>
        <String key="Clientcert"
				value=""
				name="client cert"
				description="client cert" />
        <String key="Clientkey"
				value=""
				name="cert key"
				description="cert key" />
		<String key="Publisher"
				value="ssl"
				name="publisher"
				description="tcp/ssl" />
				
		<String key="LoggerPath"
				value="logs/http_yaml_server/"
				name="Logger Path"
				description="The directory where Peach will save the log produced when fuzzing." />

				<!-- Sequential Random-->
		<Strategy key="Strategy"
				  value="Random"
				  name="Mutation Strategy"
				  description="The mutation strategy to use when fuzzing." />
		<String key="BinPath"
				value="_Common\Samples\FILE\UploadFile\bin_s\card.bin"
				name="Pit Library Path" 
				description="The path to the root of the pit library."/>

		<String key="PitLibraryPath"
				value="."
				name="Pit Library Path" 
				description="The path to the root of the pit library."/>
	</All>
</PitDefines>
